ADP_URL=https://my.adp.com/#/time
ADP_WORK_FEATURES_URL=https://my.adp.com/#/time/myworkfeatures
ADP_USERNAME=your_username_here
ADP_PASSWORD=your_password_here
ADP_HEADLESS=false
ADP_NONINTERACTIVE=false
ADP_INCOGNITO=true
ADP_LOGIN_TIMEOUT_MS=45000
ADP_POST_LOGIN_TIMEOUT_MS=120000
ADP_SELECT_ALL_JOBS=true
ADP_FILTER_DELAY_MS=700
ADP_WEEKS_TO_CAPTURE=4
ADP_NEXT_WEEK_DELAY_MS=1500
ADP_NEXT_WEEK_TIMEOUT_MS=45000
ADP_SCROLL_DELAY_MS=500
ADP_TIMEZONE_ID=America/Vancouver
ADP_LOCALE=en-CA
CALENDAR_TIMEZONE=America/Vancouver
CALENDAR_ALARMS=1440,180,60
CALENDAR_REFRESH_MINUTES=60
GOOGLE_SECRETS_DIR=.secrets
GOOGLE_CREDENTIALS_PATH=.secrets/gmail_credentials.json
GOOGLE_TOKEN_PATH=.secrets/gmail_token.json
GOOGLE_REQUIRE_REFRESH_TOKEN=true
GOOGLE_CREDENTIALS_JSON_B64=
GOOGLE_TOKEN_JSON_B64=